
{% extends 'shopping/base.html' %}

{% load static %}

   
<body>
   {% block title %}Check-Out||{% endblock %} {% block main-content %}{% include 'shopping/header.html' %} 
   

   

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->






    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                 <form method="post" id="addressform" onsubmit="AddCustomer(event)">
                 {% csrf_token %}
                    <div class="row">         
                        <div class="col-md-6 form-group">
                  
                            <label>First Name:</label>
                            <input class="form-control" name="first_name" value="" type="text" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" name="last_name" type="text" placeholder="Last Name"  required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" name="email" type="email" placeholder="example@email.com"  required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" name="mobile" type="number" placeholder="+123 456 789"  required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" name="address" type="text" placeholder="Address"  required>
                        </div>
                        
                       <div class="col-md-6 form-group">
                       
                            <label>State</label>
                            <select class="custom-select" name="state">
                               
                                
      
      
          
            <option name="state" value="AP">Andhra Pradesh</option>
          
      
          
            <option value="AR">Arunachal Pradesh</option>
          
      
          
            <option value="AS">Assam</option>
          
      
          
            <option value="BR">Bihar</option>
          
      
          
            <option value="CT">Chhattisgarh</option>
          
      
          
            <option value="GA">Goa</option>
          
      
          
            <option value="GJ">Gujarat</option>
          
      
          
            <option value="HR">Haryana</option>
          
      
          
            <option value="HP">Himachal Pradesh</option>
          
      
          
            <option value="JK">Jammu and Kashmir</option>
          
      
          
            <option value="JH">Jharkhand</option>
          
      
          
            <option value="KA">Karnataka</option>
          
      
          
            <option value="KL">Kerala</option>
          
      
          
            <option value="MP">Madhya Pradesh</option>
          
      
          
            <option value="MH">Maharashtra</option>
          
      
          
            <option value="MN">Manipur</option>
          
      
          
            <option value="ML">Meghalaya</option>
          
      
          
            <option value="MZ">Mizoram</option>
          
      
          
            <option value="NL">Nagaland</option>
          
      
          
            <option value="OR">Odisha</option>
          
      
          
            <option value="PB">Punjab</option>
          
      
          
            <option value="RJ">Rajasthan</option>
          
      
          
            <option value="SK">Sikkim</option>
          
      
          
            <option value="TN">Tamil Nadu</option>
          
      
          
            <option value="TG">Telangana</option>
          
      
          
            <option value="TR">Tripura</option>
          
      
          
            <option value="UT">Uttarakhand</option>
          
      
          
            <option value="UP">Uttar Pradesh</option>
          
      
          
            <option value="WB">West Bengal</option>
          
      
          
            <option value="AN">Andaman and Nicobar Islands</option>
          
      
          
            <option value="CH">Chandigarh</option>
          
      
          
            <option value="DD">Daman and Diu</option>
          
      
          
            <option value="DN">Dadra and Nagar Haveli</option>
          
      
          
            <option value="DL">Delhi</option>
          
      
          
            <option value="LD">Lakshadweep</option>
          
      
          
            <option value="PY">Puducherry</option>
          
      
    </select>
                                 
                            </select>
                      
                        </div> 
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" name="city" type="text" placeholder="New York"  required>
                        </div>
                       
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" name="zip_code" type="number" placeholder="123"  required>
                        </div>
                       
                    </div>
                      <disv class="text-center">
                <button class="btn btn-primary mt-3 w-40  btn-block mt-2">Submit</button>
            </div>                  </form>
                
                     
                </div>
               
                
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 3</p>
                            <p>$150</p>
                        </div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">$160</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Rozarpay</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



{% include 'shopping/footer.html' %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    function AddCustomer(event) {
        event.preventDefault();

        let cookie = getCookie('csrftoken')
        let data = new FormData(event.target)

        $.ajax({
            url: `/api/v1/customerapi/`,
            type: 'post',
            headers: {
                'X-CSRFToken': cookie
            },
            data: data,
            processData: false,
            contentType: false,

            beforeSend: function() {
                $("#submitButton").html(`<div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden"></span>
                  </div>`);



                //let submitButton = $("#submitButton")
                //submitButton.prop('disable', true)
            },
            success: function(data) {

                event.target.reset()
                window.location.reload()
                console.log("success")

            },
            error: function() {
                alert("Error: Invalid data or internal server error!");
                console.log("error")
            },
            complete: function() {
                $('#submitButton').html(`<button class="btn btn-primary mt-4" id="submitButton"></button>`)
                console.log("complete")
            }
        })



</script>
{% endblock %}
</body>

</html>


