
{% extends 'shopping/base.html' %}{% load static %}{% block title %} Sign-Up||{% endblock %}  {% block main-content %} {% include 'shopping/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<section class="vh-100" style="background-color: #508bfc;">
        <body>
        <div class="container py-5 h-100">
            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary" role="alert-{% if message.tags %} {{message.tags}} {% endif %}">{{ message }}
                  </div>
                  {% endfor %}
                  {% endif %}
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Sign in</h3>
      
                  <div class="form-outline mb-4">
                    <input type="text" name="username" id="typeEmailX-2" class="form-control form-control-lg"  placeholder="Username" required/>
                 <!-- <label class="form-label" for="typeEmailX-2">Email</label>  -->
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="first_name" id="typeEmailX-2" class="form-control form-control-lg"  placeholder="First name" required/>
                 <!-- <label class="form-label" for="typeEmailX-2">Email</label>  -->
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="last_name" id="typeEmailX-2" class="form-control form-control-lg"  placeholder="Last name" required/>
                 <!-- <label class="form-label" for="typeEmailX-2">Email</label>  -->
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg"  placeholder="Email" required/>
                 <!-- <label class="form-label" for="typeEmailX-2">Email</label>  -->
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" required/>
                     <!-- <label class="form-label" for="typePasswordX-2">Password</label>  -->
                  </div>
      
                  <!-- Checkbox -->
             
      
                  <button class="btn btn-primary btn-s btn-block" type="submit">Sign Up</button><br><br>
                  
                
      
                  <hr class="my-4">
      
                  {% comment %} <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                    type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                  <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                    type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> {% endcomment %}
      
                </div>
              </div>
            </div>

          </div>
            </form>
        </div>
      </section>

{% endblock %}    
</body>
</html>